/* Color mix */
:root {
  --orange: #f05330;
  --green: #45bb8b;
  --white: #fff;
  --blue: #0819ef;
}

/* Styling for the navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  height: 100px;
  padding: 0 20px;
  position: fixed;
  margin-bottom: 20px;
  top: 0;
  left: 0;
  width: 100%;

  border-bottom: 3px solid var(--white);
  box-shadow: inset 0 -3px 6px rgba(255, 255, 255, 0.3),
    0 5px 15px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    rgba(255, 255, 255, 0.5)
  );
}

/* Styling for the logo image */
.logo img {
  height: 70px;
  width: 150px;
  margin-left: 100px;
}

/* Styling for the sidebar button */
.sidebar-button {
  display: flex;
  align-items: center;
}

.openbtn:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* Styling for the sidebar button */
.sidebar-button {
  display: flex;
  align-items: center;
}

/* Styling for the button to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--blue);
  padding: 10px 15px;
  border: none;
  position: absolute;
  right: 150px;
}

.openbtn:hover {
  background-color: var(--white);
  color: var(--orange);
}

/* Styling for the sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--green);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 40px;
}

/* Styling for links in the sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: var(--white);
  display: block;
  transition: 0.5s;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* Styling for the close button in the sidebar */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Setting font family and margin for the entire body */
body {
  font-family: sans-serif;
  background-color: var(--green);
  margin: 80px 0 0 0;
}

/* PDF file pop screen show */
.pdf-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: none;
}

.pdf-popup .pdf-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.pdf-popup iframe {
  width: 100%;
  height: calc(100% - 40px);
  border: none;
}

/* Styling for video section */
.video-container {
  max-width: 60%;
  margin: 55px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.video-container video {
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100%;
  border-radius: 20px;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .video-container {
    height: 300px;
    margin-top: 30px;
  }
}
